.navbar {
    background-color: #131921; /* Amazon's dark background color */
    color: #fff; /* White text */
    padding: 10px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #fff; /* White text */
    text-decoration: none;
    font-weight: bold;
}

.nav-links li a:hover {
    color: #ffd700; /* Amazon's link hover color */
}
