.navbar {
    background-color: #131921; /* Amazon's dark background color */
    color: #fff; /* White text */
    padding: 10px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #fff; /* White text */
    text-decoration: none;
    font-weight: bold;
}

.nav-links li a:hover {
    color: #ffd700; /* Amazon's link hover color */
}
.cart-link {
    position: relative;
}

.cart-notification {
    position: absolute;
    top: -14px; /* Adjust top position as needed */
    right: -26px; /* Adjust right position as needed */
    /*background-color: red;*/
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

.item-count {
    font-size: 14px;
    font-weight: bold;
}